@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.time,
.material-icons {
  vertical-align: middle;
  font-size: 13px;
  color: red;
}
.hiddenbar {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0px;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}
